# Node.js関連（npm install で再生成できる）
node_modules

# OSごとの不要ファイル
.DS_Store
Thumbs.db

# ログファイルや一時ファイル
.log

# エディタ・IDE の設定ファイル（必要に応じて）
.vscode
.idea

# p5-manager の一時キャッシュがある場合
.cache

manual.txt

# p5.jsの画像フォルダを全無視
/practice/img/

# 気になる画像フォルダを全無視
/interested/

